.form_wripper {
  margin-top: 7rem;
}

.registerform {
  display: flex;
  flex-direction: column;
  width: 450px;
  margin: auto;
  padding: 1rem;
  box-shadow: 3px 2px 3px 2px #14283c;
}

.registerform input {
  height: 7vh;
  padding: 20px;
  font-size: 1.1rem;
  border-radius: 10px;
  border: 2px solid transparent;
  margin-bottom: 1.4rem;
  border: 2px solid #14283c;
}
#submit {
  background-color: #14283c;
  border: none;
  color: white;
  padding: 10px 0px;
  font-size: 1.2rem;
  border-radius: 10px;
  cursor: pointer;
}

#submit:hover {
  background: #14283cca;
}

.registerform h2 {
  text-align: center;
  background-color: #14283c;
  color: white;
  padding: 1em 0em 1.5em 0em;
  margin-bottom: 1em;
}
.registerform label {
  margin-bottom: 10px;
}
.registerform input:focus-within {
  border: 1px solid lightgray;
  outline: lightgray;
}
.registerform input:valid {
  border: 2px solid lightgray;
}
registerform input[type="submit"] {
  background-color: #5372f0;
  border: none;
}
