{% extends 'base.html' %} {% block content %}
<div id="hero">
  <h2 class="hero_title animate__animated animate__bounce">
    Welcome, we provide you with all the necessary and essential information
    surrounding Tech and other events
  </h2>
  <p class="hero_description">
    Explore the dynamic intersection of technology and events at our Blog App,
    your ultimate source for essential <br />
    information. Stay informed with the latest in tech advancements and
    significant global events.
  </p>
  <button class="hero_btn">Discover</button>
  <div class="animate"></div>
</div>

<!--! About Us  -->
<section id="about">
  <div class="content_wripper languages_icons">
    <div class="icon_wripper one"></div>
    <div class="icon_wripper two"></div>
    <div class="icon_wripper three"></div>
    <div class="icon_wripper four"></div>
  </div>
  <div class="content_wripper"></div>
</section>
{% endblock %}
