{% extends 'base.html' %} {% block content %} {% load static %}
<!--! Hero  -->
<div id="hero">
  <h2 class="hero_title animate__animated animate__bounce">
    Welcome, we provide you with all the essential information surrounding Tech
    and other events
  </h2>
  <p class="hero_description">
    Explore the dynamic intersection of technology and events at our Blog App,
    your ultimate source for essential <br />
    information. Stay informed with the latest in tech advancements and
    significant global events.
  </p>
  <button class="hero_btn">Discover</button>
  <div class="animate"></div>
</div>

<!--! About Us  -->
<section id="about">
  <div class="content_wripper languages_icons">
    <div class="icon_wripper one">
      <img src="{% static 'play/images/C.jpg' %}" alt="Moon icon" class="img" />
    </div>
    <div class="icon_wripper two">
      <img
        src="{% static 'play/images/python.jpg' %}"
        alt="Moon icon"
        class="img"
      />
    </div>
    <div class="icon_wripper three">
      <img
        src="{% static 'play/images/javaScript.jpg' %}"
        alt="Moon icon"
        class="img"
      />
    </div>
    <div class="icon_wripper four">
      <img
        src="{% static 'play/images/java.jpg' %}"
        alt="Moon icon"
        class="img"
      />
    </div>
  </div>
  <div class="content_wripper">
    <h1 class="about_title">All about Design<span>X</span></h1>
    <p class="about_description">
      Step into the world of knowledge and innovation with our blog, where we
      warmly welcome you to explore a wealth of essential information
      surrounding the latest in technology and other noteworthy events. Stay
      ahead of the curve as we unravel the intricacies of the tech world and
      bring you insightful updates on a diverse range of events. Whether you're
      a tech enthusiast or simply curious about the world around you, our blog
      is your go-to source for staying informed and engaged. Join us on this
      exciting journey where information meets inspiration, and welcome to a
      space where knowledge is key!
    </p>
    <button class="hero_btn">Discover</button>
  </div>
</section>

<!--! Related Posts  -->
<section id="related_posts">
  <div class="post_card">
    <div class="post_head">
      <img
        src="{% static 'play/images/css.jpg' %}"
        alt="Moon icon"
        class="img"
      />
    </div>
    <h4 class="post_title">How to make a http request on API in python</h4>
    <button class="post_btn">Read More</button>
  </div>
  <div class="post_card">
    <div class="post_head"></div>
    <h4 class="post_title">Writing your first line of Java Program</h4>
    <button class="post_btn">Read More</button>
  </div>
  <div class="post_card">
    <div class="post_head"></div>
    <h4 class="post_title">
      How to link HTML, CSS and your JavaScript files together
    </h4>
    <button class="post_btn">Read More</button>
  </div>
</section>

<!--! News Letter  -->
<section id="news_letter">
  <div class="newletter_wripper">
    <div class="div">
      <h1 class="newletter_title">Sign up for our news letter</h1>
    </div>
    <div class="div">
      <input
        type="email"
        placeholder="place your email to sing up"
        required
        id="input"
      />
      <button class="post_btn btn">Read More</button>
    </div>
  </div>
</section>

{% endblock content %}
