{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="todowrapper" style="width: 500px; margin: auto;">
	<div style="display: flex; margin-bottom: 1em; border: 1px solid gray; padding: .8rem; position: relative;">
					<div style="flex-grow: 1;">Add a ToDoList</div><div style="margin-right: 2rem; background-color: #5372F0; position: absolute; top: 0; bottom: 0; right: -2rem; width: 60px; display: flex; justify-content: center; align-items: center; border: 1px solid blcak;"><a href="{% url 'addtodo' %}" style="text-decoration: none; color: white; ">Add</a></div>
	</div>
	<div style="width: 500px; margin: auto;">
		{% for task in tasks %}
			<div style="margin-bottom: 1em; border: 1px solid gray; padding: 1rem;">
			  <p style="margin-bottom: 1em; text-align: center;">{{task.title}}</p>
			  <p style="font-size: 14px;">Created on: {{task.created_on|naturaltime}}</p>
			  <p style="margin-bottom: 1em; font-size: 14px;">Updated on: {{task.updated_on}}</p>
			  <div style="display: flex; justify-content: space-around; padding: 1.5em;">
			  	<div style="background-color: #5372F0; padding: .7rem;"><a href="todolists/update/{{task.id}}" style="text-decoration: none; color: #fff;">Edit</a></div>
			  	<!-- You can also use <a href="{% url 'patternname' object.id %}" -->
			  	<div style="background-color: #5372F0; padding: .7rem;"><a href="todolists/delete/{{task.id}}" style="text-decoration: none; color: #fff;">Delete</a></div>
			  </div>
		    </div>
		{% endfor %}
	</div>
</div>
{% endblock content %}